<mat-card>
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="isCompleted">Completed</mat-checkbox>

    <button mat-raised-button color="primary" type="submit">Save Task</button>
  </form>
</mat-card>